### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
# .vscode/ folder is tracked to share settings and extensions recommendations

### Python ###
__pycache__
venv/
.venv

### githubrules ##
CODEOWNERS

# Codespaces
LRL_Research_Data_Local_Dev
LRL_Research_Data_Orchestration
LRL_Research_Data_Pipeline_Images
LRL_Research_Data_DBT_Projects
LRL_Research_Data_Streaming_Sources

# macOS
.DS_Store
